<html>
  <head>
    <title>GTD App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        #app {
            display: grid;
            grid-template-columns: 450px auto 450px;
            grid-template-rows: 35px auto;
        }

        #header {
            grid-column: 2 / 3;
        }

        #content {
            grid-column: 2 / 3;
            display: grid;
            grid-template-columns: 1fr 1fr; 
        }

        #button-forward{
            justify-self: start;
        }

        #button-back{
            justify-self: end;
        }

        #content-header{
            grid-column-start: 1;
            grid-column-end: 2;
        }

        #logout{
            grid-column-start: 1;
            grid-column-end: 2;
        }

        .content-list-box{
            grid-column-start: 1;
            grid-column-end: 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .content-list{
            grid-column-start: 1;
            grid-column-end: 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .content-list-item{
            grid-column-start: 1;
            grid-column-end: 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .content-list-item-column-1{
            grid-column-start: 1;
            grid-column-end: 2;
        }

        .content-list-item-column-2{
            grid-column-start: 2;
            grid-column-end: 3;
        }

    </style>
  </head>
  <body>
    {% raw %}
    <div class="container">
      <div id="app">
          <!-- TODO: Inline these buttons...flexbox? -->
          <div id="header">
            <span id="button-back"><button v-on:click="toggleModeBackward()"><<<</button></span>
            <span id="button-forward"><button v-on:click="toggleModeForward()">>>></button></span>
          </div>
          <div id="content">
            <div id="input-box">
                <input
                    :placeholder="`New ${modeStr.toLowerCase()} item`"
                    v-on:keyup.enter="addGTDThing()"
                    v-model="newGTDThing">
                </input>
            </div>
            <div id="content-header">
                <span id="mode"> <h1>{{ modeStr }}</h1></span>
            </div>
            <!-- Items or Someday/Maybe list -->
            <div class="content-list-box">
                <ul class="content-list" id="items" v-if="mode === 0 || mode === 1">
                    <li class="content-list-item" v-for="item in items" v-if="item.location === modeStr.toLowerCase()">
                        <div class="content-list-item-column-1">
                            {{ item.description }}
                        </div>
                        <div class="content-list-item-column-2">
                            <button class=tasks @click="itemToTask(item.id)">TT</button>
                            <button class=project @click="itemToProject(item.id)">TP</button>
                            <button class=delete @click="deleteGTDThing(mode, item.id)">X</button>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Task List -->
            <div class="content-list-box">
                <ul class="content-list" id="tasks" v-if="mode === 2">
                    <li class="content-list-item" v-for="task in tasks">
                        <div class="content-list-item-column-1">
                            {{ task.description }}
                        </div>
                        <div class="content-list-item-column-2">
                            {{ task.status.toUpperCase() }} 
                            <button class="toggle" @click="toggleTaskStatus(mode, task)">Toggle</button>
                            <button class="delete" @click="deleteGTDThing(mode, task.id)">X</button>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Project List -->
            <div class="content-list-box">
                <ul class="content-list" id="projects" v-if="mode === 3" v-on:keyup.esc = "noFocusProject()">
                    <li class="content-list-item" v-for="project in projects">
                        <div class="content-list-item-column-1">
                            {{ project.description }}
                        </div>
                        <div class="content-list-item-column-2">
                             <button class="add" @click="focusProject(project.id)">+</button>   
                             <button class=delete @click="deleteGTDThing(mode, project.id)">X</button>
                        </div>
                        <ul class="content-list" id="project-tasks">
                            <li class="content-list-item" v-for="task in project.tasks">
                                <!-- TODO: Task component? We could abstract it and use it in two places-->
                                <div class="content-list-item-column-1">
                                    {{ task.description }} ---- {{ task.status.toUpperCase() }}
                                </div>
                                <div class="content-list-item-column-2">
                                    <button class="toggle" @click="toggleTaskStatus(mode, task)">Toggle</button>
                                    <button class=delete @click="deleteGTDThing(mode, task.id)">X</button>
                                </div>
                            </li>
                            <li class="content-list-item" v-if="focusedProjectID === project.id">
                                <div class="content-list-item-column-1">
                                    <input 
                                        v-model="newGTDSubtask"
                                        v-on:keyup.enter = "addProjectSubtask()"
                                    >
                                    </input>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="logout">
                <a href="/logout">Logout</a>
            </div>
        <div>
      </div>
    </div>
    {% endraw %}
  </body>
  <script>
    //NOTE: Temporary, stub API connection until we get a real one going
    const APIConn = {
        addNewItem(itemDescription){
            return fetch("/api/item", {
                body: JSON.stringify({description: itemDescription}),
                cache: "no-cache",
                credentials: "same-origin",
                headers: {
                    "content-type": "application/json"
                },
                method: "POST",
                mode: "cors",
                redirect: "follow",
                referrer: "no-referrer",
            })
            .then(res => res.json())
        },
        delete(mode, id){
            return new Promise((resolve, reject) => {
                console.log(`Deleting mode: ${mode}, id: ${id}`);
                resolve(true);
            });
        },
        itemToTask(id){
            return new Promise((resolve, reject) => {
                resolve({
                    id: Math.floor(Math.random() * 150),
                    description: app.items.filter(i => i.id === id)[0].description,
                    status: "todo"
                });
            });
        },
        itemToProject(id){
            return new Promise((resolve, reject) => {
                resolve({
                    id: Math.floor(Math.random() * 150),
                    description: app.items.filter(i => i.id === id)[0].description,
                    tasks: []
                });
            });
        },
        addProjectSubtask(pid, description){
            return new Promise((resolve, reject) => {
                resolve({
                    id: Math.floor(Math.random() * 150),
                    description,
                    status: "todo"
                });
            });
        },
        toggleTaskStatus(task){
            return new Promise((resolve, reject) => {
                let newStatus;
                if(task.status === "todo"){
                    newStatus = "done";
                } else {
                    newStatus = "todo";
                }
                resolve({
                    id: task.id,
                    description: task.description,
                    status: newStatus,
                });
            });
        },
    }

    const app = new Vue({
        el: '#app',
        data: {
            mode: 0,
            modeStrs: ["Inbox", "Someday/Maybe", "Tasks", "Projects"],
            newGTDThing: "", //TODO: Make this less generic `thing`
            newGTDSubtask: "",
            focusedProjectID: "",
            // TODO: Unhardcode this stuff once we have the api
            items: [
                {id: "1", description: "A random thought", location: "inbox"},
                {id: "2", description: "Another random thought", location: "inbox"},
                {id: "3", description: "Project A", location: "inbox"},
                {id: "4", description: "I should buy a house", location: "someday/maybe"},
                {id: "5", description: "I should buy a boat", location: "someday/maybe"}
            ],
            tasks: [
                {id: "6", description: "Task 1", status: "todo"},
                {id: "7", description: "Task 2", status: "todo"},
                {id: "8", description: "Task 3", status: "done"},
            ],
            projects: [
                {id: "9", description: "Project A", tasks:[]},
                {id: "10",
                 description: "Project B",
                 tasks:[
                     {id: "12", description: "Project A Task 1", status: "next"},
                     {id: "13", description: "Project A Task 2", status: "todo"},
                 ]
                },
                {id: "11", description: "Project C",
                 tasks:[
                     {id: "14", description: "Project C Task 1", status: "todo"},
                 ]
                },
            ]
        },
        computed: {
            modeStr(){
                return this.computeModeStr();
            }
        },
        methods: {
            //TODO: Create a generic number-wrap function for both toggle-forward and toggle-backward
            toggleModeForward(){
                this.mode = (this.mode + 1) % this.modeStrs.length; 
            },
            toggleModeBackward(){
                this.mode = (this.mode - 1);
                if(this.mode < 0){
                    this.mode = this.modeStrs.length - 1;
                }
            },
            computeModeStr(mode=null){
                const mode_compute = mode ? mode : this.mode;
                return this.modeStrs[mode_compute];
            },
            addGTDThing(){
                if(this.newGTDThing.length > 0){
                    APIConn.addNewItem(this.newGTDThing)
                    .then((res) => {
                        if(res.success){
                            this.newGTDThing = "";
                            this.items.push(res);
                        }
                    })
                }
            },
            deleteGTDThing(mode, id){
                //TODO: Improve this code
                const curr_mode = this.computeModeStr(mode);
                const properties = ["items", "items", "tasks", "projects"];
                APIConn.delete(curr_mode, id).then(res => {
                    if(res){
                        const filtered_list = []
                        for(let i = 0; i < this[properties[mode]].length; i++){
                            let filtered_item = Object.assign({}, this[properties[mode]][i]);
                            if(filtered_item.tasks){
                                let new_tasks = []
                                for(let j = 0; j < filtered_item.tasks.length; j++){
                                    if(filtered_item.tasks[j].id !== id){new_tasks.push(filtered_item.tasks[j]);}
                                }
                                filtered_item.tasks = new_tasks;
                            }
                            if (filtered_item.id !== id){
                                filtered_list.push(filtered_item);
                            }
                        }
                        this[properties[mode]] = filtered_list;
                    }
                });
            },
            itemToTask(id){
                APIConn.itemToTask(id).then(res => {
                    this.items = this.items.filter(i => i.id !== id);
                    this.tasks.push(res);
                });
            },
            itemToProject(id){
                APIConn.itemToProject(id).then(res => {
                    this.items = this.items.filter(i => i.id !== id);
                    this.projects.push(res);
                });
            },
            focusProject(id){
                this.newGTDSubtask = "";
                this.focusedProjectID = id;
            },
            noFocusProject(){
                this.newGTDSubtask = "";
                this.focusedProjectID = "";
            },
            addProjectSubtask(){
                const projectID = this.focusedProjectID;
                const subtask = this.newGTDSubtask;
                if(subtask.length === 0)
                    return;
                APIConn.addProjectSubtask(projectID, subtask).then((res) => {
                    this.noFocusProject();
                    this.projects = this.projects.map((p) => {
                        if(p.id !== projectID){
                            return p
                        }
                        return Object.assign({}, p, {tasks: p.tasks.concat(res)});
                    });
                });
            },
            toggleTaskStatus(mode, task){
                const properties = ["items", "items", "tasks", "projects"];
                APIConn.toggleTaskStatus(task).then((updatedTask) => {
                    task.status = updatedTask.status;
                });
            }
        }
    })
  </script>
</html>
