<html>
  <head>
    <title>GTD App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  </head>
  <body>
    {% raw %}
    <div class="container">
      <div id="app">
          <!-- TODO: Inline these buttons...flexbox? -->
          <div id="header">
            <span id="button-back"><button v-on:click="toggleModeBackward()"><<<</button></span>
            <span id="button-forward"><button v-on:click="toggleModeForward()">>>></button></span>
          </div>
          <div id="content">
            <div id="input-box">
                <input
                    :placeholder="`New ${modeStr.toLowerCase()} item`"
                    v-on:keyup.enter="addGTDThing()"
                    v-model="newGTDThing">
                </input>
            </div>
            <div id="content-header">
                <span id="mode"> <h1>{{ modeStr }}</h1></span>
            </div>
            <!-- Items or Someday/Maybe list -->
            <div class="content-list-box">
                <ul class="content-list" id="items" v-if="mode === 0 || mode === 1">
                    <li class="content-list-item" v-for="item in items" v-if="item.location === modeStr.toLowerCase()">
                        <div class="content-list-item-column-1">
                            {{ item.description }}
                        </div>
                        <div class="content-list-item-column-2">
                            <button class=tasks @click="itemToTask(item.id)">TT</button>
                            <button class=project @click="itemToProject(item.id)">TP</button>
                            <button class=delete @click="deleteGTDThing(mode, item.id)">X</button>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Task List -->
            <div class="content-list-box">
                <ul class="content-list" id="tasks" v-if="mode === 2">
                    <li class="content-list-item" v-for="task in tasks">
                        <div class="content-list-item-column-1">
                            {{ task.description }}
                        </div>
                        <div class="content-list-item-column-2">
                            {{ task.status.toUpperCase() }}
                            <button class="toggle" @click="toggleTaskStatus(mode, task)">Toggle</button>
                            <button @click="taskToProject(task.id)">TP</button>
                            <button class="delete" @click="deleteTask(task.id)">X</button>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Project List -->
            <div class="content-list-box">
                <ul class="content-list" id="projects" v-if="mode === 3" v-on:keyup.esc = "noFocusProject()">
                    <li class="content-list-item" v-for="project in projects">
                        <div class="content-list-item-column-1">
                            {{ project.description }}
                        </div>
                        <div class="content-list-item-column-2">
                             <button class="add" @click="focusProject(project.id)">+</button>
                             <button class=delete @click="deleteGTDThing(mode, project.id)">X</button>
                        </div>
                        <ul class="content-list" id="project-tasks">
                            <li class="content-list-item" v-for="task in project.tasks">
                                <!-- TODO: Task component? We could abstract it and use it in two places-->
                                <div class="content-list-item-column-1">
                                    {{ task.description }} ---- {{ task.status.toUpperCase() }}
                                </div>
                                <div class="content-list-item-column-2">
                                    <button class="toggle" @click="toggleTaskStatus(mode, task)">Toggle</button>
                                    <button class=delete @click="deleteProjectSubtask({'pid': project.id, 'tid': task.id})">X</button>
                                </div>
                            </li>
                            <li class="content-list-item" v-if="focusedProjectID === project.id">
                                <div class="content-list-item-column-1">
                                    <input
                                        v-model="newGTDSubtask"
                                        v-on:keyup.enter = "addProjectSubtask()"
                                    >
                                    </input>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="logout">
                <a href="/logout">Logout</a>
            </div>
        <div>
      </div>
    </div>
    {% endraw %}
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
</html>
